
     <br><br><br><br><br><br>
  <div id="loginbox">
  	<table width="100%" border="0" cellspacing="0" cellpadding="0">
  	  <tr>
  	    <td>&nbsp;</td>
  	    <td width="626" height="356" align="left" valign="top" background="{{ STATIC_URL }}images/login_box.png" align="center" valign="middle">
        <br /><br /><br /><br /><br />
       	<center><form method="post" action=".">
        
          {% if form.errors %}
      <table width="100%" border="0" cellspacing="0" cellpadding="0" height="10">
                    <tr valign="top">
                      <td width="28">&nbsp;</td>
                      <td width="95%" bgcolor="#f3dbdf" valign="middle"><br /><center>
                      <img src="{{ STATIC_URL }}images/errorlogo.png" width="20" height="18" />&nbsp;&nbsp;<a id="userinfo" style="color:#666">Your username and password didn't match. Please try again.</p></center></td>
                      <td width="1">&nbsp;</td>
                    </tr>
                  </table>
          {% endif %}
        
        {% csrf_token %}<br />
		<br /><br /><p id="logintext"><label for="id_username">Username:  </label>{{ form.username }}</p>
		<p id="logintext"><label for="id_password">Password:   </label>{{ form.password }}</p>
		<input type="hidden" name="next" value="/" />
		<input type="submit" value="login" />
		</form></center>
        </td>
  	    <td>&nbsp;</td>
      </tr>
    </table>
  </div>