{% extends "base_login.html" %}  

{% block content %}
{% load mylimite %}

<div id="popupContact" >
  <form id="save-form" method="post" action="/save/">{% csrf_token %}

  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td colspan="4" align="right" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="6%" bgcolor="#F3F3F3">&nbsp;</td>
          <td width="60%" align="left" valign="top" bgcolor="#F3F3F3"><p id="upname2"><img src="{{ MEDIA_URL }}images/homeicon.gif" width="15" height="15" alt="Home" />&nbsp;/&nbsp;<a href="/user/{{ user.username }}" target="_parent">My Library</a>&nbsp;/&nbsp;Add New Bookmark&nbsp;<img src="{{ MEDIA_URL }}images/this.png" width="8" height="9" alt="Here" /></p></td>
          <td width="33%" bgcolor="#F3F3F3">&nbsp;</td>
        </tr>
      </table></td>
      </tr>
    <tr>
      <td align="right" valign="middle">&nbsp;</td>
      <td align="right">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td align="right" valign="middle">&nbsp;</td>
      <td align="right">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td width="27%" align="right" valign="middle">&nbsp;</td>
      <td width="4%" align="right">&nbsp;</td>
      <td bgcolor="#F9F5F5">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td width="27%" height="30" align="right" valign="middle">URL</td>
      <td width="4%" height="30" align="right">&nbsp;</td>
      <td width="44%" height="30" bgcolor="#F9F5F5">{{ form.url }}</td>
      <td width="25%">&nbsp;</td>
    </tr>
    <tr>
      <td width="27%" height="30" align="right" valign="middle">Title</td>
      <td width="4%" height="30" align="right">&nbsp;</td>
      <td height="30" bgcolor="#F9F5F5">{{ form.title }}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td width="27%" height="30" align="right" valign="middle">Tag</td>
      <td width="4%" height="30" align="right">&nbsp;</td>
      <td height="30" bgcolor="#F9F5F5">{{ form.tags }}<br /></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td width="27%" height="30" align="right" valign="middle">&nbsp;</td>
      <td width="4%" height="30" align="right">&nbsp;</td>
      <td height="30" bgcolor="#F9F5F5">{{ form.share }} Make it public</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td width="27%" height="30" align="right" valign="middle">&nbsp;</td>
      <td width="4%" height="30" align="right" valign="middle">&nbsp;</td>
      <td height="30" align="right" bgcolor="#F9F5F5"><input class="button" type="submit"  value="Save"></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td width="27%" align="right" valign="middle">&nbsp;</td>
      <td width="4%" align="right" valign="middle">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td width="27%" align="right" valign="middle">&nbsp;</td>
      <td width="4%" align="right" valign="middle">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td width="27%" align="right" valign="middle">&nbsp;</td>
      <td width="4%" align="right" valign="middle">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td width="27%" align="right" valign="middle">&nbsp;</td>
      <td width="4%" align="right" valign="middle">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td width="27%" align="right" valign="middle">&nbsp;</td>
      <td width="4%" align="right" valign="middle">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
  

</form>
	
		</p>
</div>
{% endblock %}

{% block popula %}
{% if people %}
	{% for to_friend in people %}
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ MEDIA_URL }}images/starlogo.png" width="15" height="15" border="0">&nbsp;<a href="/profile/{{ to_friend }}" target="_blank"><font color="#39b54a">&nbsp;<b>{{ to_friend.username|mylimite:15 }}</b></font></a><br>
	{% endfor %}
{% endif %}
{% endblock %}
{% block pic1 %}myurl.png{% endblock %}
{% block pic2 %}mynw.png{% endblock %}
{% block pic3 %}hoturl.png{% endblock %}
{% block pic4 %}groupac.png{% endblock %}

{% block yourtag %}
{% if allbookmark %}
	{% for bookmark in allbookmark %}
		{% if bookmark.tag_set.all %}  
               
			{% for tag in bookmark.tag_set.all %}
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ MEDIA_URL }}images/starlogo.png" width="15" height="15" border="0">&nbsp;<a href="/tag/{{ tag.name|urlencode }}" id="upname2"><font color="#39b54a">&nbsp;<b>{{ tag.name|escape }}</b></font></b></font></a><br>			
			{% endfor %}

		{% endif %}
	{% endfor %}
{% else %}
    		<br /><center>No Tag.</center><br />
{% endif %}
{% endblock %}
