                                  
{% block content %} 
                    
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td width="7%" align="right" valign="middle" bgcolor="#F3F3F3">&nbsp;</td>
                                <td width="83%" align="left" valign="middle" bgcolor="#F3F3F3">
                                <p id="upname2"><img src="{{ MEDIA_URL }}images/tag.png" width="15" height="15" alt="Home" />&nbsp;/&nbsp;{{ tag_name|escape }}'s tags&nbsp;<img src="{{ MEDIA_URL }}images/this.png" width="8" height="9" alt="Here" /></p>
                                </td>
                                <td width="6%" align="right" valign="middle" bgcolor="#F3F3F3"></td>
                       
                                <td width="4%" bgcolor="#F3F3F3">&nbsp;</td>
                              </tr>
                            </table>
                            
			    {% if bookmarks %}
                            {% for bookmark in bookmarks %}
<br />
                        
                        
                     
<table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="3%" rowspan="5">&nbsp;</td>
                  <td width="12%" rowspan="5" align="left" valign="top" >
                  
  
                    

			{% if bookmark.status %}
				<a class="datebox" style="background-image:url({{ MEDIA_URL }}/images/boxcount3.png)">	
			{% else %}
				<a class="datebox" style="background-image:url({{ MEDIA_URL }}/images/boxcount2.png)">
			{% endif %}
			<br>{{ bookmark.date_add|date:"D d M Y" }}
      					</a>
                    
                </td>
                                      <td width="85%"><br />
                                      <span id="titleurl" ><u>{{ bookmark.title }}</u></span></td>
                                    <tr>
                                      <td>
<a id = "upname2" style="color:#06F">URL&nbsp;&nbsp;&nbsp;&nbsp;</a><a href="{{ bookmark.link.url }}" target="_blank">{{ bookmark.link.url }}</a><br>

					                    {% if show_user %}
                      Posted By: 
                      <a href="/user/{{ bookmark.user.username }}/" class="username">
                        {{ bookmark.user.username }}</a> <font color='grey'>{{ bookmark.date_add|timesince }} ago</font>
                    {% endif %}<img src="{{ MEDIA_URL }}/images/commentballoon.gif" width="18" height="18" alt="Up" />&nbsp;<a href="/mycomment/{{ bookmark.id }}/">View&nbsp;Comments</a> 

                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                   
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                      </td>
                                      
                                    </tr>
                                    <tr>
                                      <td height="10" valign="baseline"><hr color="#D7D7D7" size="1"></td>
                            </tr>
</table>
						<tr>      
                          {% endfor %}

                          <br>
                          <br>
                          <br>
                        
          <center>              
                          
                         {% if bookmarks.has_previous %}
                         <a href="./?page={{ bookmarks.previous_page_number }}">previous</a> 
			Page {{ bookmarks.number }} of {{ bookmarks.paginator.num_pages }}.
                         {% endif %} 

                            

                               
                         {% if bookmarks.has_next %}
                          <a href="./?page={{ bookmarks.next_page_number }}">next</a> 
                          {% endif %}
             </center>            
                          <br>                         
                          <br>
                          {% else %}
                          <center>No bookmarks found.</center>
                          {% endif %}
{% endblock %}
