{% extends "base_login.html" %}
{% load mylimite %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>


<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style></head>

<body>

{% block content %}

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="40%" align="left" valign="middle">
    <font size="+2">&nbsp;&nbsp;&nbsp;&nbsp;{{ username.username|mylimite:10 }}'s </font><font color="#699ad6" size="+2">Profile</font>
	<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date Register :: {{ username.date_joined}}
	<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last Login :: {{ username.last_login}}
    </td>
    <td width="22%" align="center" valign="middle">
    <div class="valueurl">
    <a href="/bookmark_of/{{ username.username }}"><div class="valuefriendbox">
    <br /><br />
		<font>{{ count }}</font>
        <br /><br /><font size="-1">bookmarks</font>
	</div></a>
    </td>
    <td width="17%" align="center" valign="middle">
    <a href="/follower_list/{{ username.username }}"><div class="valuefriendbox">
    <br /><br />
		<font>{{ to_friend_set }}</font>
        <br /><br /><font size="-1">followers</font>
	</div></a>
    </td>
    <td width="17%" align="center" valign="middle">
   <a href="/following_list/{{ username.username }}"><div class="valuefriendbox" >
    <br /><br />
		<font>{{ friend_set }}</font>
        <br /><br /><font size="-1">followings</font>
	</div></a>
    </td>
    <td width="4%"></td>
  </tr>
  <tr>
    <td align="left" valign="middle">&nbsp;</td>
    <td align="center" valign="middle">&nbsp;</td>
    <td align="center" valign="middle">&nbsp;</td>
    <td align="center" valign="middle">&nbsp;</td>
    <td></td>
  </tr>
  <tr>
    <td height="20" colspan="5" align="left" valign="middle" bgcolor="#DFF0FF">
    <hr color="#CCCCCC" size="1" style="margin-top:inherit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><font color="#666666" size="3">Info.</font></b></td>
  </tr>
  <tr>
    <td height="20" colspan="5" align="left" valign="middle" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
  <tr>
   <form action="#" method="post" name="form" onsubmit="return validateForm()" >{% csrf_token %}
   
    <td height="20" colspan="5" align="left" valign="middle" bgcolor="#FFFFFF">
    <div align="center" onmouseover= style="background:#0CC">
    <table width="95%" border="0" cellspacing="0" cellpadding="0">
  <tr class="swaptable">
    <td width="50" height="30" valign="top"><hr style="margin-top:inherit" color="#9b9a9a" size="1">&nbsp;</td>
    <td width="370" height="30" align="left" valign="top"><hr style="margin-top:inherit" color="#9b9a9a" size="1"><font color="#000000">Username</font></td>
    <td width="1043" height="30" align="left" valign="top"><hr style="margin-top:inherit" color="#9b9a9a" size="1">{{ username.username }}<br></td>
    <td width="64" height="30" valign="top"><hr style="margin-top:inherit" color="#9b9a9a" size="1"></td>
    <td width="50" height="30" valign="top"><hr style="margin-top:inherit" color="#9b9a9a" size="1">&nbsp;</td>
  </tr>
  <tr class="swaptable">
    <td height="30" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1"></td>
    <td height="30" align="left" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1"><font color="#000000">Email</font></td>
    <td height="30" align="left" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1">{{ username.email }}</td>
    <td height="30" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1"></td>
    <td height="30" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1"></td>
  </tr>
  <tr class="swaptable">
    <td height="30" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1"></td>
    <td height="30" align="left" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1"><font color="#000000">

First Name</font></td>
    <td height="30" align="left" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1">
<div class="field-widget"><input name="first_name" type="text" id="first_name" value="{{ username.first_name }}" title="Enter your name" class="required" ></div>
</td>
    <td height="30" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1"></td>
    <td height="30" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1"></td>
  </tr>
  <tr class="swaptable">
    <td height="30" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1"></td>
    <td height="30" align="left" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1"><font color="#000000">Last Name</font></td>
    <td height="30" align="left" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1" /><input name="last_name" type="text" id="last_name" value="{{ username.last_name }}" title="Enter your last name" class="required" ></td>
    <td height="30" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1"></td>
    <td height="30" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1"></td>
  </tr>
  
  <tr class="swaptable">
    <td height="30" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1"></td>
    <td height="30" align="left" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1"><font color="#000000">New Password</font></td>
    <td height="30" align="left" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1" />

<div class="field-widget"><input name="passwd1" type="password" id="passwd1" value="" class="required validate-password" title="Enter a password greater than 4 characters"></div>
</td>
    <td height="30" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1"></td>
    <td height="30" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1"></td>
  </tr>
  <tr class="swaptable">
    <td height="30" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1"></td>
    <td height="30" align="left" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1"><font color="#000000">New password 2</font></td>
    <td height="30" align="left" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1" /><input name="passwd2" type="password" id="passwd2" value="" class="required validate-password-confirm" title="Enter the same password for confirmation" /></td>
    <td height="30" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1"></td>
    <td height="30" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1"></td>
  </tr>
  <a>
  <tr class="swaptable">
   <td height="30" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1"></td>
    <td height="30" align="left" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1"></td>
    <td height="30" align="left" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1"></td>
    <td height="30" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1"></td>
    <td height="30" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1"></td>
  </tr>
  
  <tr>
    <td height="30" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1"></td>
    <td height="30" align="left" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1"></td>
    <td height="30" align="left" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1"></td>
    <td height="30" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1"></td>
    <td height="30" valign="top"><hr style="margin-top:inherit" color="#DEDEDE" size="1"></td>
  </tr>
  </a>
    </table>
    </div>
    </td>
  </tr>
  <tr>
 <td> <center><input type="submit" name="button" id="button" value="Save"></center></td>
 </form>
  </tr>
  <tr>
    <td height="20" colspan="5" align="left" valign="middle">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="30">&nbsp;</td>
<script type="text/javascript">
function validateForm()
{
var first=document.forms["form"]["first_name"].value;
var last=document.forms["form"]["last_name"].value;
var pass=document.forms["form"]["passwd1"].value;
var passnew=document.forms["form"]["passwd2"].value;

if (first==null || first=="" || last==null || last=="" || pass==null || pass=="" || passnew==null || passnew=="" )
  {
  alert("All fields must be filled out");
  return false;
  }
if ( pass != passnew )
  {
  alert("Password don't match");
  return false;
  }
if ( pass.length<5 && pass.length<5 )
  {
  alert("Password must grather than 4");
  return false;
  }

}
</script>





</body>
</html>


{% endblock %}

{% block popula %}
{% if people %}
	{% for to_friend in people %}
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ MEDIA_URL }}images/starlogo.png" width="15" height="15" border="0">&nbsp;<a href="/profile/{{ to_friend }}" target="_blank"><font color="#39b54a">&nbsp;<b>{{ to_friend.username|mylimite:15 }}</b></font></a><br>
	{% endfor %}
{% endif %}
{% endblock %}
{% block pic1 %}myurl.png{% endblock %}
{% block pic2 %}mynw.png{% endblock %}
{% block pic3 %}hoturl.png{% endblock %}
{% block pic4 %}groupac.png{% endblock %}

{% block yourtag %}
{% if allbookmark %}
	{% for bookmark in allbookmark %}
		{% if bookmark.tag_set.all %}  
               
			{% for tag in bookmark.tag_set.all %}
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ MEDIA_URL }}images/starlogo.png" width="15" height="15" border="0">&nbsp;<a href="/tag/{{ tag.name|urlencode }}" id="upname2"><font color="#39b54a">&nbsp;<b>{{ tag.name|escape }}</b></font></b></font></a><br>			
			{% endfor %}

		{% endif %}
	{% endfor %}
{% else %}
    		<br /><center>No Tag.</center><br />
{% endif %}
{% endblock %}
