{% extends "base_login.html" %}

{% block title %}Tag Cloud{% endblock %}
{% block head %}Tag Cloud{% endblock %}
{% load mylimite %}
{% block content %}


                       <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td width="7%" align="right" valign="middle" bgcolor="#F3F3F3">&nbsp;</td>
                                <td width="83%" align="left" valign="middle" bgcolor="#F3F3F3">
                                <p id="upname2"><img src="{{ MEDIA_URL }}images/homeicon.gif" width="15" height="15" alt="Home" />&nbsp;/&nbsp;Tag Cloud&nbsp;<img src="{{ MEDIA_URL }}images/this.png" width="8" height="9" alt="Here" /></p>
                                </td>
                                <td width="6%" align="right" valign="middle" bgcolor="#F3F3F3"></td>
                       
                                <td width="4%" bgcolor="#F3F3F3">&nbsp;</td>
                              </tr>
                            </table><br><br>

  <div id="hottag">
    {% for tag in tags %}
	
	<a href="/tag/{{ tag.name }}/"class="hottag-{{ tag.weight }}">{{ tag.name }}</a>

    {% endfor %}
  </div>
{% endblock %}

{% block popula %}
{% if people %}
	{% for to_friend in people %}
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ MEDIA_URL }}images/starlogo.png" width="15" height="15" border="0">&nbsp;<a href="/profile/{{ to_friend }}" target="_blank"><font color="#39b54a">&nbsp;<b>{{ to_friend.username|mylimite:15 }}</b></font></a><br>
	{% endfor %}
{% endif %}
{% endblock %}

{% block pic1 %}myurl.png{% endblock %}
{% block pic2 %}mynw.png{% endblock %}
{% block pic3 %}hoturl.png{% endblock %}
{% block pic4 %}groupac_be.png{% endblock %}

{% block yourtag %}
{% if allbookmark %}
	{% for bookmark in allbookmark %}
		{% if bookmark.tag_set.all %}  
               
			{% for tag in bookmark.tag_set.all %}
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ MEDIA_URL }}images/starlogo.png" width="15" height="15" border="0">&nbsp;<a href="/tag/{{ tag.name|urlencode }}" id="upname2"><font color="#39b54a">&nbsp;<b>{{ tag.name|escape }}</b></font></b></font></a><br>			
			{% endfor %}

		{% endif %}
	{% endfor %}
{% else %}
    		<br /><center>No Tag.</center><br />
{% endif %}
{% endblock %}

