
{% if bookmarks %}
<table width="100%" border="0">

<tr><td>All Bookmark: {{ bookmarks.count }}<br></tr></td>
		{% for bookmark in bookmarks %}  
		<tr><td>[{{ bookmark.status }}]</tr></td>
		<tr><td>{{ bookmark.title }} By {{ bookmark.user }}<br></tr></td>
		<tr><td>{{ bookmark.date_add|date:"D d M Y" }}<br></tr></td>		
		<tr><td>{{ bookmark.link.url }}<br></tr></td>
			{% if show_tags %}
				{% if bookmark.tag_set.all %}    
					<tr><td>Tag :                             
					{% for tag in bookmark.tag_set.all %}
						 | {{ tag.name|escape }}
					{% endfor %} </tr></td>
								<hr>				
				{% else %}	
					<tr><td>Tag : |</tr></td>
				{% endif %}
			{% endif %}
		{% endfor %}
</table>
{% else %}
<table width="100%" border="0">
	<tr><td>No Bookmark Found.</tr></td>
</table>
{% endif %}


