#navigation{
	font-size:14px;
	font-family:"Sans-serif", Arial , Verdana;
	color:#FFF;
	font-weight:bold;
	text-shadow: 0px 1px 1px #999;
}
#containner{
	width:970px;
	background-color:#f4f4f4;
	margin:0px auto;
}
#menu{
	width:950px;
	height:85px;
	background-color:#FFF;
	padding: 2px 8px;
	border: 1px solid #cccccc;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
#loginbox{
	width:950px;
	height:auto;
	float:left;
	font:Verdana, Geneva, sans-serif;
}
#logintext{
	font-family:"Sans-serif", Arial , Verdana;
	color:#09F;
	font-size:15px;
	font-weight:normal;
	text-shadow: 0px 1px 1px #999;
}
#menuleft{
	width:30%; 
	float:left;
	height:65px;
	font-family:"Sans-serif", Arial , Verdana;
	font-size:14px;
	font-weight:normal;
}
#menuright{
	width:70%;
	float:right;
	vertical-align:top;
	height:65px;
}

#upname1{
	font-family:"Sans-serif", Arial , Verdana;
	color:#09F;
	font-size:22px;
	font-weight:bold;
	text-shadow: 0px 1px 1px #999;
}
#titleurl{
	font-family:"Sans-serif", Arial , Verdana;
	color:#09F;
	font-size:18px;
	text-shadow: 0px 1px 1px #999;
}

#search{
	font-family:"Sans-serif", Arial , Verdana;
	color:#09F;
	font-size:22px;
	font-weight:bold;
	float:left;
	width:970px;
	height:50px;
	background:repeat:right;
}

#upname2{
	font-family:"Sans-serif", Arial , Verdana;
	color:#000;
	font-size:12px;
	font-weight:normal;
}

#upname3{
	font-family:"Sans-serif", Arial , Verdana;
	color:#093;
	font-size:12px;
	font-weight:normal;
}
#contentright{
	font-family:"Sans-serif", Arial , Verdana;
	width: 750px;
	float:right;
	border: 1px solid #cccccc;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	background-color:#fff;
}

#contenleft{
	width: 200px;
	float:left;
	background-color:#fff;
	border: 1px solid #dcdddd;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

#blockquote { 
	text-shadow: 0px 1px 1px #4d4d4d;
	color:#666666;
	font: 23px 'Tw Cen MT';
	font-weight:bolder;
}

#userinfo{
	font-family:"Sans-serif", Arial , Verdana;
	font-size:14px;
	font-weight:normal;
}
#fontleftmenu{
	font-family:"Sans-serif", Arial , Verdana;
	font-size:12px;
	font-weight:normal;
}

#bordertag{
	border: 1px solid #fff;
	background-color:#FCC;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	height:auto;
}

li.leaf, li.collapsed, li.expanded {
  list-style-image: none;
  list-style: none;
  list-style-type: none;
  float:left;
}

ul {
  list-style-image: none;
  list-style: none;
  list-style-type: none;
  float:left;
  padding:6px 8px;height:20px;
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #f2f2f2;
}
#H{
	background-color:#fefce5;
	border: 1px solid #dcdddd;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;

}
#H2:hover{
	background-color:#f5f5f5;
	border: 1px solid #dcdddd;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.style3 {color: #0099ff}
.style4 {color: #f1a23e}
.style5 {color: #999999}
a:link {
	text-decoration: none;
	color: #f3a242;
}
a:visited {
	text-decoration: none;
	color: #f3a242;
}
a:hover {
	text-decoration: none;
	color: #f3a242;
}
a:active {
	text-decoration: none;
	color: #f3a242;
}

/* @end */
