a.savePeopleCount {
	width: 68px;
	height: 52px;
	overflow: hidden;
	text-align: center;
	font-size: 11px;
	color: #777;
	position: absolute;
	color: #777;
	line-height: 18px;
	text-transform: lowercase;
	
}
a.savePeopleCount strong{
    color:#ff9900;
    font-size:20px;
    display:block;
    padding-top:10px;
}
a.savePeopleCount:hover{text-decoration:none;color:#0044cc;}
a.savePeopleCount:hover strong{color:#ff9900;}

a.datebox {
	width: 68px;
	height: 52px;
	overflow: hidden;
	text-align: center;
	font-size: 11px;
	color: #777;
	position: absolute;
	color: #451d04;
}
a.datebox strong{
    color:#451d04;
    font-size:12px;
    display:block;
    padding-top:10px;
}

a.userdis {
	width: 50px;
	height: 50px;
	overflow: hidden;
	text-align: center;
	font-size: 11px;
	color: #777;
	position: absolute;
	color: #451d04;
}
a.userdis strong{
    color:#451d04;
    font-size:12px;
    display:block;
    padding-top:10px;
}
