.button {
 
	/*basic styles*/
	width: 60px;  height: 25px;  color: white; background-color: #99CF00;
	text-align: center;  font-size: 10px;  line-height: 10px; font-family:Tahoma, Geneva, sans-serif;
 
 
	/*gradient styles*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#99CF00), to(#6DB700));
	background: -moz-linear-gradient(19% 75% 90deg,#6DB700, #99CF00);
 
	/*border styles*/
	border-left: solid 1px #c3f83a;
	border-top: solid 1px #c3f83a;
	border-right: solid 1px #82a528;
	border-bottom: solid 1px #58701b;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-gradient(linear, 0% 0%, 0% 100%, from(#99CF00), to(#6DB700))
 
}
 
.button h3 {
	font-size: 20px;
	line-height: 35px;
	font-family: helvetica, sans-serif;
}
 
.button p {
	font-size: 12px;
	line-height: 4px;
	font-family: helvetica, sans-serif;
}
 
a {
	text-decoration: none;
	color: fff;a:-webkit-any-link

}
 
.button:hover {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6DB700), to(#99CF00));
	background: -moz-linear-gradient(19% 75% 90deg,#99CF00, #6DB700);
}




.valuefriendbox{
	float:right;
	width: 120px;  height: 60px;  color: white; background-color:#9b9b9b;
	text-align: center;  font-size: 20px;  line-height: 10px;
	padding:inherit;
 
 
	/*gradient styles*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9b9b9b), to(#9b9b9b));
	background: -moz-linear-gradient(19% 75% 90deg,#cdcdcd, #cdcdcd);
 
	/*border styles*/
	border-radius: 10px;
}

.valuefriendbox mytext {
	font-size: 22px;
	line-height: 25px;
	font-family:Arial, Helvetica, sans-serif;
	text-shadow:#666;
}
 
.valuefriendbox:hover {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b2dbe8), to(#b2dbe8));
	background: -moz-linear-gradient(19% 75% 90deg,#b2dbe8, #b2dbe8);
	color:#555452;
}


.valueurl{
	float:right;
	width: 120px;  height: 60px;  color: white; background-color:#699ad6;
	text-align: center;  font-size: 20px;  line-height: 10px;
	padding:inherit;
 
 
	/*gradient styles*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#699ad6), to(#69bbd6));
	background: -moz-linear-gradient(19% 75% 90deg,#3f7cc7, #3f7cc7);
 
	/*border styles*/
	border-radius: 10px;
}
 
.valueurl:hover {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b2dbe8), to(#b2dbe8));
	background: -moz-linear-gradient(19% 75% 90deg,#b2dbe8, #b2dbe8);
	color:#555452;
}


.editprofile {
 
	/*basic styles*/
	width: 100px;  height: 24px;  color: white; background-color:#4b9ee2;
	text-align: center;  font-size: 30px;  line-height: 50px;
 	margin-left:25px;
 
	/*gradient styles*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4b9ee2), to(#0860a6));
	background: -moz-linear-gradient(19% 75% 90deg,#0860a6, #4b9ee2);
 
	/*border styles*/
	border-top: solid 2px #09C;
	border-bottom: solid 1px #51281f;
	border-right: solid 1px #4b9ee2;
	border-left: solid 1px #4b9ee2;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
 
}
 
 
.editprofile p {
	font-size: 12px;
	line-height: 0px;
	font-family: 'Trebuchet MS', sans-serif;
}
 
a {
	text-decoration: none;
	color: fff;
}
 
.editprofile:hover {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0860a6), to(#4b9ee2));
	background: -moz-linear-gradient(19% 75% 90deg,#4b9ee2, #0860a6);
	border-top: solid 2px #0860a6;
	border-bottom: solid 1px #09C;
}


.editprofile2 {
 
	/*basic styles*/
	width: 100px;  height: 24px;  color: white; background-color:#f6b522;
	text-align: center;  font-size: 30px;  line-height: 50px;
 	margin-left:25px;
 
	/*gradient styles*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f6b522), to(#e47000));
	background: -moz-linear-gradient(19% 75% 90deg,#f6b522, #e47000);
 
	/*border styles*/
	border-top: solid 2px #f6b522;
	border-bottom: solid 1px #f6b522;
	border-right: solid 1px #f6b522;
	border-left: solid 1px #f6b522;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
 
}
 
 
.editprofile2 p {
	font-size: 12px;
	line-height: 0px;
	font-family: 'Trebuchet MS', sans-serif;
}
 
a {
	text-decoration: none;
	color: fff;
}
 
.editprofile2:hover {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e47000), to(#f6b522));
	background: -moz-linear-gradient(19% 75% 90deg,#e47000, #e47000);
	border-top: solid 2px #e47000;
	border-bottom: solid 1px #e47000;
}


.editprofile3 {
 
	/*basic styles*/
	width: 100px;  height: 24px;  color: white; background-color:#f6b522;
	text-align: center;  font-size: 30px;  line-height: 50px;
 	margin-left:25px;
 
	/*gradient styles*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e47000), to(#f6b522));
	background: -moz-linear-gradient(19% 75% 90deg,#e47000, #f6b522);
 
	/*border styles*/
	border-top: solid 2px #e47000;
	border-bottom: solid 1px #e47000;
	border-right: solid 1px #e47000;
	border-left: solid 1px #e47000;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
 
}
 
 
.editprofile3 p {
	font-size: 12px;
	line-height: 0px;
	font-family: 'Trebuchet MS', sans-serif;
}
 
a {
	text-decoration: none;
	color: fff;
}
 
.editprofile3:hover {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e47000), to(#f6b522));
	background: -moz-linear-gradient(19% 75% 90deg,#e47000, #e47000);
	border-top: solid 2px #e47000;
	border-bottom: solid 1px #e47000;
}


.editprofile4 {
 
	/*basic styles*/
	width: 60px;  height: 20px;  color: white; background-color:#f6b522;
	text-align: center;  font-size: 30px;  line-height: 50px;
	margin-left:0px;
	margin-top:0px;

 
	/*gradient styles*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000), to(#7f7f7f));
	background: -moz-linear-gradient(19% 75% 90deg,#000, #000);
 
	/*border styles*/
	border-top: solid 2px #000;
	border-bottom: solid 1px #000;
	border-right: solid 1px #000;
	border-left: solid 1px #000;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
 
}
 
 
.editprofile4 p {
	font-size: 11px;
	line-height: 0px;
	font-family: 'Trebuchet MS', sans-serif;
}
 
a {
	text-decoration: none;
	color: fff;
}
 
.editprofile4:hover {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7f7f7f), to(#000));
	background: -moz-linear-gradient(19% 75% 90deg,#7f7f7f, #000);
	border-top: solid 2px #7f7f7f;
	border-bottom: solid 1px #7f7f7f;
}

.editprofile5 {
 
	/*basic styles*/
	width: 70px;  height: 24px;  color: white; background-color:#f6b522;
	text-align: center;  font-size: 30px;  line-height: 50px;
 	margin-left:0px;
 
	/*gradient styles*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e47000), to(#f6b522));
	background: -moz-linear-gradient(19% 75% 90deg,#e47000, #f6b522);
 
	/*border styles*/
	border-top: solid 2px #e47000;
	border-bottom: solid 1px #e47000;
	border-right: solid 1px #e47000;
	border-left: solid 1px #e47000;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
 
}
 
 
.editprofile5 p {
	font-size: 12px;
	line-height: 0px;
	font-family: 'Trebuchet MS', sans-serif;
}
 
a {
	text-decoration: none;
	color: fff;
}
 
.editprofile5:hover {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e47000), to(#f6b522));
	background: -moz-linear-gradient(19% 75% 90deg,#e47000, #e47000);
	border-top: solid 2px #e47000;
	border-bottom: solid 1px #e47000;
}

.editprofile6 {
 
	/*basic styles*/
	width: 70px;  height: 24px;  color: white; background-color:#4b9ee2;
	text-align: center;  font-size: 30px;  line-height: 50px;
 	margin-left:0px;
 
	/*gradient styles*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4b9ee2), to(#0860a6));
	background: -moz-linear-gradient(19% 75% 90deg,#0860a6, #4b9ee2);
 
	/*border styles*/
	border-top: solid 2px #09C;
	border-bottom: solid 1px #51281f;
	border-right: solid 1px #4b9ee2;
	border-left: solid 1px #4b9ee2;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
 
}
 
 
.editprofile6 p {
	font-size: 12px;
	line-height: 0px;
	font-family: 'Trebuchet MS', sans-serif;
}
 
a {
	text-decoration: none;
	color: fff;
}
 
.editprofile6:hover {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0860a6), to(#4b9ee2));
	background: -moz-linear-gradient(19% 75% 90deg,#4b9ee2, #0860a6);
	border-top: solid 2px #0860a6;
	border-bottom: solid 1px #09C;
}


