{% extends "base.html" %}

{% block title %}Registration Successful{% endblock %}
{% block head %}Registration Completed Successfully{% endblock %}

{% block content %}
  Thank you for registering. Your information has been saved in the database. Now you can either <a href="/login">login</a> or go back to the <a href="/">main page</a>.
{% endblock %}

