{% extends "index.html" %}

{% block title %}Logout Successful{% endblock %}
{% block head %}Logout Successfully{% endblock %}

{% block content %}
  Thank you for visitng my web plese. <a href="/login">login</a> to go black <a href="/">main page</a>.
  <META HTTP-EQUIV="Refresh" CONTENT="2;URL=/">
{% endblock %}

