<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>

<h2>Register</h2>

<form method="post" action="/register/">{% csrf_token %}
 <br> <br>
username<input type="text" name="username" id="username" /> <br>
password<input type="password" name="password" id="password" /> <br>
email<input type="text" name="email" id="email" /> <br>
firstname<input type="text" name="first_name" id="first_name" /> <br>
lastname<input type="text" name="last_name" id="last_name" /> <br>
 <br> <br>
<input type="submit" name="button2" id="button2" value="     Add User    " >


</form>


</body>
</html>