<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Up : Where you can share your knowledge | Welcome to Django Bookmarks</title>
<style type="text/css">
#header {
	background: #333333 url({{ MEDIA_URL }}welcomepage/pic/topbg.png) repeat-x -70% 0;
}
#nav {
	float: left;
	margin: 0 0 0 20px;
	padding: 2px 0 0 0;
	color: #777;
}
#nav li a {
	display: block;
	padding: 6px 10px 7px 10px;
	text-decoration: none;
	color: #AAA;
}

#nav li#t-profile, #nav li#t-signin, #nav li#t-activity, #nav li#t-upld {
	float: right;
}
li {
	display: list-item;
	text-align: -webkit-match-parent;
}
a:link, a:visited {
	color: #4083A9;
	outline: none;
	text-decoration: none;
}
a:link, a:visited {
	color: #4083A9;
	outline: none;
	text-decoration: none;
}
#header-inner {
width: 940px;
margin: 0 auto;
padding: 10px 0;
}

#wrap {
background: #F0F0F0 url({{ MEDIA_URL }}welcomepage/pic/tile.gif) repeat -70% 0;
}

#wrap-inner {
padding: 60px 0 30px 0;
background: url({{ MEDIA_URL }}welcomepage/pic/big-fade.png) repeat-x -70% 0;
}

#content {
	position: relative;
	width: 940px;
	margin: 0 auto;
	padding: 0;
	font-size: 1.2em;
}

#footer {
border-top: 1px solid #DDD;
}

#footer-inner {
	width: 940px;
	margin: 0 auto;
	padding: 20px 30px;
	font-size: 1.2em;
	color: #999;
}
#foot-des {
	color:#9f9999;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
}
#foot-des2 {
	color:#9f9999;
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
}
#logo {
float: left;
margin: 2px 0 0 0;
}
#upname1{
	font-family:"Sans-serif", Arial , Verdana;
	color:#ffffff;
	font-size:22px;
	font-weight:bold;
	text-shadow: 0px 1px 1px #999;
}
#upname2{
	font-family:"Sans-serif", Arial , Verdana;
	color:#aaaa9f;
	font-size:12px;
	font-weight:normal;
}
#menuleft{
	width:30%; 
	float:left;
	height:65px;
}

#loginform{
	position: relative;
	margin: 0 auto;
	padding: 0;
	font-size: 1.2em;	
	background:#0F3;
}

div.the-shot {
float: left;
margin: 0 0 10px 0;
width: 440px;
}

<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style>
<link rel="stylesheet" href="{{ MEDIA_URL }}welcomepage/csswel/style_common.css">
<link rel="stylesheet" href="{{ MEDIA_URL }}welcomepage/csswel/reset.css">
<link rel="stylesheet" href="{{ MEDIA_URL }}welcomepage/csswel/style1.css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/buttonlogin.css" />

<style type="text/css">
<!--
body,td,th {
	font-family: Verdana, Geneva, sans-serif;
}
-->
</style></head>
{% if user.is_authenticated %}
		<META HTTP-EQUIV="Refresh" CONTENT="0;URL=/user/{{ user.username }}">
{% endif %}
<body>
<div id="header" class="group">
    <div id="header-inner" class="group">
        <div align="left">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="56">
                        &nbsp;<img src="{{ MEDIA_URL }}welcomepage/pic/logohome.png" align="baseline" alt="Up : Where you can share your knowledge | Welcome to Django Bookmarks"></img><br>
                    </td>
                    <td width="542" align="left" valign="top">
                          <br /><a id = "upname1" >Social Bookmark</a><br />
                          <a id = "upname2" >The Place For Storing Your URL</a>   
                    </td>
                    <td width="138" align="right" valign="middle">
                        <ul id="nav"><li id="t-signup">
							<a href="/register/">
								<span>
								{% if user.is_authenticated %}
								{% else %}
								<img src="{{ MEDIA_URL }}welcomepage/pic/icon-signup.png" width="22" height="17" />&nbsp;Sign up
								{% endif %}
								</span>
							</a>		
                        </li>
                        </ul>
                  </td>
                    <td width="204" align="right" valign="middle">
               	  <form id="search" action="/search_index/">
							<input id="search-text" type="text" name="q" placeholder="Search" value="" class="placeholder">
						</form>
                    </td>
              </tr>
            </table>
        </div>
    </div>
</div>
<META HTTP-EQUIV="Refresh" CONTENT="2;URL=/">
<center><h1>
  Thank you for registering. Your information has been saved in the database.<br> Now you can either <a href="/login">login</a> or go back to the <a href="/">main page</a>. </h1></center>>

</body>
</html>
