<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<link href="{{ STATIC_URL }}css/main_page/base_login.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}css/main_page/mainpage.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}css/buttonlogin.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}css/boxcount.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}css/profilestyle.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

<script src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.3/prototype.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/scriptaculous/1.8.2/effects.js" type="text/javascript"></script>

<link href="{{ STATIC_URL }}css/validstyle.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/validation.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/effects.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/fabtabulous.js"></script>

<meta name="google-site-verification" content="jVoKsUiKYR77rK1HOIENzymn-gyctQB0rYWVDT4G2Qk" />

<title>Up : Where you can share your knowledge | {% block title %}{% endblock %}</title>


<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>

<style type="text/css">
<!--
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
-->
</style>


</head>
<body onLoad="MM_preloadImages('{{ STATIC_URL }}images/groupac_on.png','{{ STATIC_URL }}images/myurl_on.png','{{ STATIC_URL }}images/hoturl_on.png','{{ STATIC_URL }}images/mynw_on.png')">


<div id="modal">
	<div id="heading">
		 <font id="userinfo">You want Logout ?</font>
	</div>

	<div id="content">
		<p>Click Logout to confirm or Cancel.</p>
		<a href="/logout/" class="buttonpop green close"><font color="white">Logout</font><img src="{{ STATIC_URL }}images/tick.png"></a>

		<a href="#" class="buttonpop red close"><font color="white">Cancel</font><img src="{{ STATIC_URL }}images/cross.png"></a>
		
	</div>
</div>




<!--jQuery-->
	<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.reveal.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$('#button').click(function(e) { // Button which will activate our modal
			   	$('#modal').reveal({ // The item which will be opened with reveal
				  	animation: 'fade',                   // fade, fadeAndPop, none
					animationspeed: 150,                       // how fast animtions are
					closeonbackgroundclick: true,              // if you click background will modal close?
					dismissmodalclass: 'close'    // the class of a button or element that will close an open modal
				});
			return false;
			});
		});
	</script>




<div id="containner">
       	<div id="menu">
        		<div id="menuleft">
        		  <table width="387" border="0" cellspacing="0" cellpadding="0">
        		    <tr>
        		      <td width="50">&nbsp;<a href="/user/{{ user.username }}" ><img src="{{ STATIC_URL }}images/logohome.png" align="baseline" alt="Up : Where you can share your knowledge | Welcome to Django Bookmarks"  width="43" height="69"> </img><br></td>
        		      <td width="337" align="left" valign="top">
                      <ul>
                      <li id = "upname1" >Social Bookmark</li>
                      <li id = "upname2" >The Place For Storing Your URL</li>
                      </ul>
                      </td>
      		      </tr>
      		      </table>
          		</div>
          		
      <script id="_waul94">var _wau = _wau || [];
_wau.push(["tab", "0cg7yk1sgsp7", "l94", "left-lower"]);
(function() {var s=document.createElement("script"); s.async=true;
s.src="http://widgets.amung.us/tab.js";
document.getElementsByTagName("head")[0].appendChild(s);
})();</script>          
                
              
				<!----------------------------------------- Start Userinfo ------------------------------------------------>
              <div id="menuright" align="right">
				<table align="right">
               	  <tr align="left">
                  <p id="userinfo"><b><i>Hello </i></b>
                    <img src="{{ STATIC_URL }}images/earthlogo.gif" alt="Online"> &nbsp;{{ user.username }}&nbsp;&nbsp;| 
                    <a href="/profile/{{ user.username }}/">Profile</a> | <a href="#" id="button"> Logout </a> |
                   <td></td> 
                   
                    <form id="search-form" action="/search/" method="get">
							<input id="search-text" type="text" name="q" placeholder="Search" value="" class="placeholder">
						</form>
						&nbsp;&nbsp;
						
						<p id="userinfo" style="color:#f1a33f"> 
                     
                                          <p id="userinfo" style="color:#f1a33f">
                    </tr>
                     
                     </p>
                  </tr>
                </table>
            	</div>
				<!----------------------------------------------- End User Info ------------------------------------------->
                
              
                
  </div>       
					<div id="search"><center>
                    	<table width="93%" height="31" border="0" cellspacing="0" cellpadding="0">
                        <tr height="10px"></tr>
                          <tr>
                          	<td width="15%" height="30" align="right"><img src="{{ STATIC_URL }}images/left.png"></td>
                            <td width="15%" align="left" valign="middle" ><a href="/user/{{ user.username }}">
<img src="{{ STATIC_URL }}images/{% block pic1 %}{% endblock %}" alt="My URL" border="0" id="Image2" onMouseOver="MM_swapImage('Image2','','{{ STATIC_URL }}images/myurl_on.png',1)" onMouseOut="MM_swapImgRestore()"></a></td>
                            <td width="15%" align="left" valign="middle" ><a href="/friends/{{ user.username }}/">
<img src="{{ STATIC_URL }}images/{% block pic2 %}{% endblock %}" alt="My Network" name="Image4" border="0" id="Image4" onMouseOver="MM_swapImage('Image4','','{{ STATIC_URL }}images/mynw_on.png',1)" onMouseOut="MM_swapImgRestore()"></td>
                            <td width="15%" align="left" valign="middle"><a href="/hot/">
<img src="{{ STATIC_URL }}images/{% block pic3 %}{% endblock %}" alt="Hot URL" border="0" id="Image3" onMouseOver="MM_swapImage('Image3','','{{ STATIC_URL }}images/hoturl_on.png',1)" onMouseOut="MM_swapImgRestore()"></td>
                            <td width="15%" align="left" valign="middle"><a href="/tag/">
<img src="{{ STATIC_URL }}images/{% block pic4 %}{% endblock %}" alt="Group Activity" border="0" id="Image1" onMouseOver="MM_swapImage('Image1','','{{ STATIC_URL }}images/groupac_on.png',1)" onMouseOut="MM_swapImgRestore()"></td>
                            <td width="15%" align="left" valign="middle"><img src="{{ STATIC_URL }}images/right.png"></td>
                          </tr>
                        </table>
                        </center>
                    </div>
                   
					<!------------------------------------------------start main content --------------------------------->
					
					
					<!------------------------------------------------content left --------------------------------->



					<div id="contenleft">
				    <table width="200" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><br>
                              <img src="{{ STATIC_URL }}images/userdisplay.jpg" width="50" height="50" border="1"><br>
                              	<p id="fontleftmenu" style="font-weight:bolder">Welcome<br></p><p id="fontleftmenu" style="border:thin">{{ user.first_name }}&nbsp; {{ user.last_name }}</p>
                           		<hr width="170" align="center" size="1" noshade color="#cccccc">
                                </td>
                          </tr>
                            <td align="left" height="10px"><p id="fontleftmenu" style="color:#09F">﻿&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ STATIC_URL }}images/tag.png" width="20" height="20" border="0">&nbsp;&nbsp;<font size='2'><b>My Recents Tags List<b></font></p></td>
                          <tr align="left" valign="top">
                          <td align="left" height="60px" valign="top">
                            	<font id="fontleftmenu" style="color:#a1a1a1">
                        

				{% block yourtag %}{% endblock %}
				<br>

                                </p>
                            </td>
                          </tr>
                          
                        </table>
                  <td align="left" height="10px"><p id="fontleftmenu" style="color:#09F">﻿&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ STATIC_URL }}images/trophy.png" width="20" height="20" border="0">&nbsp;&nbsp;<font size='2'><b>Popular People<b></font></p></td>
                          <tr align="left" valign="top">
                          <td align="left" height="60px" valign="top">
                            	<font id="fontleftmenu" style="color:#a1a1a1">
				{% block popula %}{% endblock %}
                                <br>
                                <span class="style4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/rank/">Show More ...</a></span>
                                </p>
                            </td>
                          </tr>
                          <br><br>
                        </table>
                            
                          	</td>
                            
					</tr>
                    </table>
                        
                        
                        
					</div>
                  <!------------------------------------------------ end content left  --------------------------------->
               
                 
                  
                   <!------------------------------------------------ Start content right  --------------------------------->
                    <div id="contentright">
                   <table width="100%" height="30" border="0" align="left" cellpadding="25" cellspacing="0">
					
					
					{% block content %}{% endblock %}
						
					</tr>
                          	</table>
                 
  					</div>
         
                    <!------------------------------------------------ End content right  --------------------------------->

</div> 	





</body>
</html>
