                                  
{% block content %} 
                    
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td width="7%" align="right" valign="middle" bgcolor="#F3F3F3">&nbsp;</td>
                                <td width="83%" align="left" valign="middle" bgcolor="#F3F3F3">
                                <p id="upname2"><img src="{{ STATIC_URL }}images/homeicon.gif" width="15" height="15" alt="Home" />&nbsp;/&nbsp;{{ tag_name|escape }}'s tags&nbsp;<img src="{{ STATIC_URL }}images/this.png" width="8" height="9" alt="Here" /></p>
                                </td>
                                <td width="6%" align="right" valign="middle" bgcolor="#F3F3F3"><a href="/save/"><img src="{{ STATIC_URL }}images/addbk.png" width="100" height="21" alt="Add "></a></td>
                       
                                <td width="4%" bgcolor="#F3F3F3">&nbsp;</td>
                              </tr>
                            </table>
                            
			    {% if bookmarks %}
                            {% for bookmark in bookmarks %}
<br />
                        
                        
                     
<table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="3%" rowspan="5">&nbsp;</td>
                  <td width="12%" rowspan="5" align="left" valign="top" >
                  
  
                    <a class="datebox" style="background-image:url({{ STATIC_URL }}/images/boxcount2.png)">
			<br>{{ bookmark.date_add|date:"D d M Y" }}
      					</a>
                    
                </td>
                                      <td width="85%"><br />
                                      <span id="titleurl" ><u>{{ bookmark.title }}</u></span></td>
                                    <tr>
                                      <td>
<a id = "upname2" style="color:#06F">URL&nbsp;&nbsp;&nbsp;&nbsp;</a><a href="{{ bookmark.link.url }}" target="_blank">{{ bookmark.link.url }}</a><br>
                                      Posted By: <a href="/user/{{ bookmark.user.username }}/" class="username">{{ bookmark.user.username }}</a>

                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                   
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                      </td>
                                      
                                    </tr>
                                    <tr>
                                      <td height="10" valign="baseline"><hr color="#D7D7D7" size="1"></td>
                            </tr>
</table>
						<tr>      
                          {% endfor %}

                          <br>
                          <br>
                          <br>
                        
          <center>              
                          
                         {% if bookmarks.has_previous %}
                         <a href="./?page={{ bookmarks.previous_page_number }}">previous</a> 
                         {% endif %} 
                         
                          Page {{ bookmarks.number }} of {{ bookmarks.paginator.num_pages }}.  
                               
                         {% if bookmarks.has_next %}
                          <a href="./?page={{ bookmarks.next_page_number }}">next</a> 
                          {% endif %}
             </center>            
                          <br>                         
                          <br>
                          {% else %}
                          <center>No bookmarks found.</center>
                          {% endif %}
{% endblock %}
