{% extends "base_login.html" %} 
{% block content %}
{% load mylimite %}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
  
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="6%" bgcolor="#F3F3F3">&nbsp;</td>
          <td width="60%" align="left" valign="top" bgcolor="#F3F3F3"><p id="upname2"><img src="{{ STATIC_URL }}images/homeicon.gif" width="15" height="15" alt="Home" />&nbsp;/&nbsp;Following ( <font>{{ count }}</font> )&nbsp;<img src="{{ STATIC_URL }}images/this.png" width="8" height="9" alt="Here" /></p></td>
          <td width="33%" bgcolor="#F3F3F3">&nbsp;</td>
        </tr>
    </table>
      
      
    <td align="center" valign="top">
	
	{% if friends %}
	<table width="100%" border="0" cellspacing="0" cellpadding="0">

		{% for friend in friends %}
			<tr>
				<td width="12%" align="right" valign="top"><hr color="#D7D7D7" size="1"> </td>
				<td width="3%" align="right" valign="top"><hr color="#D7D7D7" size="1"> </td>
				<td width="35%" align="right" valign="top"><hr color="#D7D7D7" size="1"> </td>
			</tr>
			<tr>
				<td width="12%" align="right" valign="top">
				<br><img src="{{ STATIC_URL }}images/userdisplay.jpg" border="1">
				<br><a href="/profile/{{ friend.username }}/">{{ friend.username }}</a> <br> 
				</td>
				<td width="3%">&nbsp;</td>
				<td width="85%" valign="top">
					{% if show_unfollow %}
					<a href="/friend/delete/?username={{ friend.username }}"> &nbsp;&nbsp; <div class="editprofile4"><p>Unfollow</p></div> </a> 
					{% else %}
						<br>						
					{% endif %}

					Name : {{ friend.first_name }}&nbsp;{{ friend.last_name }}<br>
					Date Register : {{ friend.date_joined}}<br>
					Last Login : {{ friend.last_login}}<br><br>
					
				</td>   
			</tr>
		{% endfor %}

	  {% else %}
	    <p>No friends found.</p>		
	{% endif %}
	  
			<tr>
				
			</tr>
	</table>
    </td>
  </tr>
</table>
{% endblock %}
{% block pic1 %}myurl.png{% endblock %}
{% block pic2 %}mynw.png{% endblock %}
{% block pic3 %}hoturl.png{% endblock %}
{% block pic4 %}groupac.png{% endblock %}
{% block popula %}
{% if people %}
	{% for to_friend in people %}
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ STATIC_URL }}images/starlogo.png" width="15" height="15" border="0">&nbsp;<a href="/profile/{{ to_friend }}" target="_blank"><font color="#39b54a">&nbsp;<b>{{ to_friend.username|mylimite:15 }}</b></font></a><br>
	{% endfor %}
{% endif %}
{% endblock %}

{% block yourtag %}
{% if allbookmark %}
	{% for bookmark in allbookmark %}
		{% if bookmark.tag_set.all %}  
               
			{% for tag in bookmark.tag_set.all %}
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ STATIC_URL }}images/starlogo.png" width="15" height="15" border="0">&nbsp;<a href="/tag/{{ tag.name|urlencode }}" id="upname2"><font color="#39b54a">&nbsp;<b>{{ tag.name|escape }}</b></font></b></font></a><br>			
			{% endfor %}

		{% endif %}
	{% endfor %}
{% else %}
    		<br /><center>No Tag.</center><br />
{% endif %}
{% endblock %}
