{% extends "base_login.html" %} 
{% block content %}
{% load mylimite %}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
  
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="6%" bgcolor="#F3F3F3">&nbsp;</td>
          <td width="60%" align="left" valign="top" bgcolor="#F3F3F3"><p id="upname2"><img src="{{ STATIC_URL }}images/homeicon.gif" width="15" height="15" alt="Home" />&nbsp;/&nbsp;Hot URL&nbsp;<img src="{{ STATIC_URL }}images/this.png" width="8" height="9" alt="Here" /></p></td>
          <td width="33%" bgcolor="#F3F3F3">&nbsp;</td>
        </tr>
    </table>
      
      
    <td align="center" valign="top">
		{% if shared_bookmarks %}
          {% for shared_bookmark in shared_bookmarks %}
          
<table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="6%" rowspan="2" align="right" valign="top">
              
              </td>
              <td width="12%" rowspan="2" align="left" valign="top">
              
					<a class="savePeopleCount" style="background-image:url({{ STATIC_URL }}/images/boxcount.png)">
        			<strong>{{ shared_bookmark.votes }}</strong>People
      			</a>
              </td>
              <td width="50%" align="left" valign="bottom"><a href="{{ shared_bookmark.bookmark.link.url }}" class="title">
          {{ shared_bookmark.bookmark.title|escape }}</a></td>
              <td width="32%">&nbsp;</td>
        </tr>
            <tr>
              <td align="left" valign="bottom"><a href="/vote/?id={{ shared_bookmark.id }}" class="vote">

	<img src="{{ STATIC_URL }}/images/uping.png" width="18" height="18" alt="Up" /></a>


&nbsp;Post by : <a href="/profile/{{ shared_bookmark.bookmark.user.username }}/" class="username">
                  {{ shared_bookmark.bookmark.user.username }}</a><span class="vote-count">&nbsp;| Votes: {{ shared_bookmark.votes }}</span> |
                <img src="{{ STATIC_URL }}/images/commentballoon.gif" width="18" height="18" alt="Up" />&nbsp;<a href="/bookmark/{{ shared_bookmark.id}}/">Add&nbsp;Comments</a>&nbsp;|&nbsp;
		<br />
		&nbsp;&nbsp;{{ shared_bookmark.bookmark.date_add|timesince }}&nbsp;&nbsp;ago
		<br />                                                                      <p class="tagspan">                                
										{% for tag in shared_bookmark.tag_set.all %}
										<a href="/tag/{{ tag.name|urlencode }} "><span id="upname2">{{ tag.name|escape }}</span></a> 
										{% endfor %} 
                                      </p>
                
                </td>
              <td>&nbsp;</td>
        </tr>
            <tr>
              <td width="6%">&nbsp;</td>
              <td>&nbsp;</td>
              <td colspan="2" align="left" valign="bottom"><hr color="#D7D7D7" size="1"></td>
        </tr>
        <br />
      </table>

      
            {% endfor %}

        {% else %}
      <p><center>No Hot URL found.</center></p>
        {% endif %}
        
        
    </td>
  </tr>
</table>
{% endblock %}

{% block popula %}
{% if people %}
	{% for to_friend in people %}
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ STATIC_URL }}images/starlogo.png" width="15" height="15" border="0">&nbsp;<a href="/profile/{{ to_friend }}" target="_blank"><font color="#39b54a">&nbsp;<b>{{ to_friend.username|mylimite:15 }}</b></font></a><br>
	{% endfor %}
{% endif %}
{% endblock %}



{% block pic1 %}myurl.png{% endblock %}
{% block pic2 %}mynw.png{% endblock %}
{% block pic3 %}hoturl_be.png{% endblock %}
{% block pic4 %}groupac.png{% endblock %}

{% block yourtag %}
{% if allbookmark %}
	{% for bookmark in allbookmark %}
		{% if bookmark.tag_set.all %}  
               
			{% for tag in bookmark.tag_set.all %}
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ STATIC_URL }}images/starlogo.png" width="15" height="15" border="0">&nbsp;<a href="/tag/{{ tag.name|urlencode }}" id="upname2"><font color="#39b54a">&nbsp;<b>{{ tag.name|escape }}</b></font></b></font></a><br>			
			{% endfor %}
		{% endif %}
	{% endfor %}
{% else %}
    		<br /><center>No Tag.</center><br />
{% endif %}
{% endblock %}
