{% extends "base_login.html" %} 
{% block content %}
{% load mylimite %}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
  
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="6%" bgcolor="#F3F3F3">&nbsp;</td>
          <td width="60%" align="left" valign="top" bgcolor="#F3F3F3"><p id="upname2"><img src="{{ STATIC_URL }}images/trophy.png" width="15" height="15" alt="Home" />&nbsp;&nbsp;Popular People </font>&nbsp;<img src="{{ STATIC_URL }}images/this.png" width="8" height="9" alt="Here" /></p></td>
          <td width="33%" bgcolor="#F3F3F3">&nbsp;</td>
        </tr>
    </table>
      
      
    <td align="center" valign="top">
	
	{% if people2 %}
	<table width="100%" border="0" cellspacing="0" cellpadding="0">

		{% for to_friend in people2 %}
			<tr>
				<td width="12%" align="right" valign="top"><hr color="#D7D7D7" size="1"> </td>
				<td width="3%" align="right" valign="top"><hr color="#D7D7D7" size="1"> </td>
				<td width="35%" align="right" valign="top"><hr color="#D7D7D7" size="1"> </td>
			</tr>
			<tr>
				<td width="15%" align="right" valign="top">
				<br><img src="{{ STATIC_URL }}images/userdisplay.jpg" border="1">
				<br><a href="/profile/{{ to_friend }}/">{{ to_friend.username|mylimite:15 }}</a> <br> 
				</td>
				<td width="4%">&nbsp;</td>
				<td width="81%" valign="middle">
					<font color='#09F'><b>{{ to_friend.first_name }}&nbsp;{{ to_friend.last_name }}</b></font><br>
					&nbsp;&nbsp;Date Register : {{ to_friend.date_joined}}<br>
					&nbsp;&nbsp;Last Login : {{ to_friend.last_login}}<br>

				{#{% if myid == to_friend.id %}#}
				{#{% else %}#}
				{#	{% if to_friend in myfriend_list %}#}
				{#		<div class="editprofile5"><p>followed</p></div>#}
				{#	{% else %}#}
				{#		<a href="/rank/add/?username={{ to_friend }}"><div class="editprofile6"><p>follow</p></div></a>#}
				{#	{% endif %}#}
				{#{% endif %}#}
				</td>   
			</tr>
		{% endfor %}

	  {% else %}
	    <p>No friends found.</p>		
	{% endif %}
	  
			<tr>
				
			</tr>
	</table>
    </td>
  </tr>
</table>
{% endblock %}
{% block pic1 %}myurl.png{% endblock %}
{% block pic2 %}mynw.png{% endblock %}
{% block pic3 %}hoturl.png{% endblock %}
{% block pic4 %}groupac.png{% endblock %}
{% block popula %}
{% if people %}
	{% for to_friend in people %}
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ STATIC_URL }}images/starlogo.png" width="15" height="15" border="0">&nbsp;<a href="/profile/{{ to_friend }}" target="_blank"><font color="#39b54a">&nbsp;<b>{{ to_friend.username|mylimite:15 }}</b></font></a><br>
	{% endfor %}
{% endif %}
{% endblock %}


{% block yourtag %}
{% if allbookmark %}
	{% for bookmark in allbookmark %}
		{% if bookmark.tag_set.all %}  
               
			{% for tag in bookmark.tag_set.all %}
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ STATIC_URL }}images/starlogo.png" width="15" height="15" border="0">&nbsp;<a href="/tag/{{ tag.name|urlencode }}" id="upname2"><font color="#39b54a">&nbsp;<b>{{ tag.name|escape }}</b></font></b></font></a><br>			
			{% endfor %}

		{% endif %}
	{% endfor %}
{% else %}
    		<br /><center>No Tag.</center><br />
{% endif %}
{% endblock %}
