{% extends "base_login.html"%}   
{% load mylimite %}  
<script type="text/javascript" src="{{ STATIC_URL }}js/search.js"></script>

{% block content %}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
  
  
      
      
    <td align="center" valign="top">
	{% if bookmarks %}
		{% for bookmark in bookmarks %}
<br />
                        	
                        
                        
<table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="3%" rowspan="5">&nbsp;</td>
                  <td width="12%" rowspan="5" align="left" valign="top" >
                  
			{% if bookmark.status %}
				<a class="datebox" style="background-image:url({{ STATIC_URL }}/images/boxcount3.png)">
			{% else %}
				<a class="datebox" style="background-image:url({{ STATIC_URL }}/images/boxcount2.png)">
			{% endif %}

			<br>{{ bookmark.date_add|date:"D d M Y" }}
      					</a>
                			</td>
                                      <td width="85%"><br />
                                      <span id="titleurl" ><u>{{ bookmark.title }}</u></span></td>
                                    <tr>
                                      <td>
                                      <a id = "upname2" style="color:#06F">URL&nbsp;&nbsp;&nbsp;&nbsp;</a><a href="{{ bookmark.link.url }}" target="_blank">{{ bookmark.link.url }}</a>

                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
			{% if show_tags %}
				{% if bookmark.tag_set.all %}
					<p class="tagspan"> <img src="{{ STATIC_URL }}images/tag.png" width="20" height="20" border="0">                               
					{% for tag in bookmark.tag_set.all %}
						<a href="/tag/{{ tag.name|urlencode }} "><span id="upname2">{{ tag.name|escape }}</span></a> 
					{% endfor %} 
										
                                      						</p>

				{% else %}	
				{% endif %}
			{% endif %}
                                      
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
			{% if show_user %}
                      Posted By:<a href="/user/{{ bookmark.user.username }}/" class="username">
                        {{ bookmark.user.username }}</a> <font color='grey'>{{ bookmark.date_add|timesince }} ago</font>
			{% endif %}<img src="{{ STATIC_URL }}/images/commentballoon.gif" width="18" height="18" alt="Up" />&nbsp;<a href="/mycomment/{{ bookmark.id }}/">View&nbsp;Comments</a> 



                                      </td>
                                      
                                    </tr>
                                    <tr>
                                      <td height="10" valign="baseline"><hr color="#D7D7D7" size="1"></td>
                            </tr>
</table>
						<tr>
        
		{% endfor %}

	{% else %}
                          <center>No bookmarks found.</center>
	{% endif %}
        
        
    </td>
  </tr>
</table>
{% endblock %}

{% block popula %}
{% if people %}
	{% for to_friend in people %}
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ STATIC_URL }}images/starlogo.png" width="15" height="15" border="0">&nbsp;<a href="/profile/{{ to_friend }}" target="_blank"><font color="#39b54a">&nbsp;<b>{{ to_friend.username|mylimite:15 }}</b></font></a><br>
	{% endfor %}
{% endif %}
{% endblock %}
{% block pic1 %}myurl.png{% endblock %}
{% block pic2 %}mynw.png{% endblock %}
{% block pic3 %}hoturl.png{% endblock %}
{% block pic4 %}groupac.png{% endblock %}

{% block yourtag %}
{% if allbookmark %}
	{% for bookmark in allbookmark %}
		{% if bookmark.tag_set.all %}  
               
			{% for tag in bookmark.tag_set.all %}
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ STATIC_URL }}images/starlogo.png" width="15" height="15" border="0">&nbsp;<a href="/tag/{{ tag.name|urlencode }}" id="upname2"><font color="#39b54a">&nbsp;<b>{{ tag.name|escape }}</b></font></b></font></a><br>			
			{% endfor %}

		{% endif %}
	{% endfor %}
{% else %}
    		<br /><center>No Tag.</center><br />
{% endif %}
{% endblock %}
