{% extends "base_login.html"%}     
<script type="text/javascript" src="{{ STATIC_URL }}js/search.js"></script>

{% block content %}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
  
  
      
      
    <td align="center" valign="top">
		{% if bookmarks %}
          {% for bookmark in bookmarks %}

          
<table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="6%" rowspan="2" align="right" valign="top">
              
              </td>
              <td width="12%" rowspan="2" align="left" valign="top">
              
				
              </td>
              <td width="50%" align="left" valign="bottom">
              <a href="{{ bookmark.bookmark.link.url }}" class="title">
          {{ bookmark.title|escape }} </a></td>
              <td width="32%">&nbsp;</td>
        </tr>
        
            <tr>
              <td align="left" valign="bottom">&nbsp;
              <br>
              Post by : <a href="/user/{{ bookmark.user.username }}/" class="username">
                  {{ bookmark.user.username }}</a><span class="vote-count"></span> 
                
                
                                                                                            <p class="tagspan">                                
										{% for tag in bookmark.tag_set.all %}
										<a href="/tag/{{ tag.name|urlencode }} "><span id="upname2">{{ tag.name|escape }}</span></a> 
										{% endfor %} 
                                      </p>
                
                </td>
              <td>&nbsp;</td>
        </tr>
            <tr>
              <td width="6%">&nbsp;</td>
              <td>&nbsp;</td>
              <td colspan="2" align="left" valign="bottom"><hr color="#D7D7D7" size="1"></td>
        </tr>
        <br />
      </table>

      
            {% endfor %}

        {% else %}
      <p><center>No Search found.</center></p>
        {% endif %}
        
        
    </td>
  </tr>
</table>
{% endblock %}
