{% extends "base_login.html" %}                                      
{% block content %} 
{% load comments %}
{% load mylimite %}
                    
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td width="7%" align="right" valign="middle" bgcolor="#F3F3F3">&nbsp;</td>
                                <td width="83%" align="left" valign="middle" bgcolor="#F3F3F3">
                                <p id="upname2"><img src="{{ STATIC_URL }}images/homeicon.gif" width="15" height="15" alt="Home" />&nbsp;/&nbsp;My Library&nbsp;<img src="{{ STATIC_URL }}images/this.png" width="8" height="9" alt="Here" /></p>
                                </td>
                                <td width="6%" align="right" valign="middle" bgcolor="#F3F3F3"><a href="/save/"><img src="{{ STATIC_URL }}images/addbk.png" width="100" height="21" alt="Add "></a></td>
                       
                                <td width="4%" bgcolor="#F3F3F3">&nbsp;</td>
                              </tr>
                            </table>     

             
			    {% if bookmarks %}
                            {% for bookmark in bookmarks %}
<br />
                        	
                        
                        
<table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="3%" rowspan="5">&nbsp;</td>
                  <td width="12%" rowspan="5" align="left" valign="top" >
                  
				{% if bookmark.status %}
					<a class="datebox" style="background-image:url({{ STATIC_URL }}/images/boxcount3.png)">
				{% else %}
					<a class="datebox" style="background-image:url({{ STATIC_URL }}/images/boxcount2.png)">
				{% endif %}

			<br>{{ bookmark.date_add|date:"D d M Y" }}
      					</a>
                    
                </td>
                                      <td width="85%"><br />
                                      <span id="titleurl" ><u>{{ bookmark.title }}</u></span></td>
                                    <tr>
                                      <td>
                                      <a id = "upname2" style="color:#06F">URL&nbsp;&nbsp;&nbsp;&nbsp;</a><a href="{{ bookmark.link.url }}" target="_blank">{{ bookmark.link.url }}</a>

                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
							{% if show_tags %}
							{% if bookmark.tag_set.all %}
                                                                            <p class="tagspan">                                
										{% for tag in bookmark.tag_set.all %}
										<a href="/tag/{{ tag.name|urlencode }} "><span id="upname2">{{ tag.name|escape }}</span></a> 
										{% endfor %} 
										
                                      						</p>
								{% else %}	
								{% endif %}
							{% endif %}
                                      
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>

                                      {% if show_edit %}
                                      <img src="{{ STATIC_URL }}images/editbutt.png" width="16" height="16" alt="Edit URL" />                                      
                                      <a id = "upname3" href="/save/?url={{ bookmark.link.url|urlencode }}">&nbsp;Edit&nbsp;&nbsp;&nbsp;</a>
                                      
 													{% endif %}
                                      {% if show_delete %}
                                      <img src="{{ STATIC_URL }}images/trashbutt.gif" width="16" height="17" alt="Delete URL" />                                      
                                      <a id = "upname3" href="/delete/?url={{ bookmark.link.url|urlencode }}">&nbsp;Delete&nbsp;&nbsp;&nbsp;</a>
                                      {% endif %}
					<img src="{{ STATIC_URL }}/images/commentballoon.gif" width="18" height="18" alt="Up" />&nbsp;<a href="/mycomment/{{ bookmark.id }}/">View&nbsp;Comments</a> 
				{% if bookmark.status %}
					<font color = "blue"><b>[ Public Bookmark ]&nbsp;</b></font>
				{% else %}
					<font color = "red"><b>[ Private Bookmark ]&nbsp;</b></font>
				{% endif %}


                                      </td>
                                      
                                    </tr>
                                    <tr>
                                      <td height="10" valign="baseline"><hr color="#D7D7D7" size="1"></td>
                            </tr>
</table>
						<tr>
        
                          {% endfor %}
                          <br>
                          <br>
                          <br>
                        
          <center>              
                          
                         {% if bookmarks.has_previous %}
                         <a href="./?page={{ bookmarks.previous_page_number }}">previous</a> 
                         {% endif %} 
                         
                          Page {{ bookmarks.number }} of {{ bookmarks.paginator.num_pages }}.  
                               
                         {% if bookmarks.has_next %}
                          <a href="./?page={{ bookmarks.next_page_number }}">next</a> 
                          {% endif %}
             </center>            
                          <br>                         
                          <br>
                          {% else %}
                          <center>No bookmarks found.</center>
                          {% endif %}
{% endblock %}

{% block popula %}
{% if people %}
	{% for to_friend in people %}
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ STATIC_URL }}images/starlogo.png" width="15" height="15" border="0">&nbsp;<a href="/profile/{{ to_friend }}" target="_blank"><font color="#39b54a">&nbsp;<b>{{ to_friend.username|mylimite:15 }}</b></font></a><br>
	{% endfor %}
{% endif %}
{% endblock %}

{% block yourtag %}
{% if allbookmark %}
	{% for bookmark in allbookmark %}
		{% if bookmark.tag_set.all %}  
               
			{% for tag in bookmark.tag_set.all %}
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ STATIC_URL }}images/starlogo.png" width="15" height="15" border="0">&nbsp;<a href="/tag/{{ tag.name|urlencode }}" id="upname2"><font color="#39b54a">&nbsp;<b>{{ tag.name|escape }}</b></font></b></font></a><br>			
			{% endfor %}

		{% endif %}
	{% endfor %}
{% else %}
    		<br /><center>No Tag.</center><br />
{% endif %}
{% endblock %}

{% block pic1 %}myurl_be.png{% endblock %}
{% block pic2 %}mynw.png{% endblock %}
{% block pic3 %}hoturl.png{% endblock %}
{% block pic4 %}groupac.png{% endblock %}
