{% extends "base_login.html" %}
{% load mylimite %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style></head>

<body>

{% block content %}

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="73%" align="left" valign="top">
    <font size="+3">&nbsp;&nbsp;&nbsp;&nbsp;{{ user.username|mylimite:15 }}'s Profile</font>
    </td>
    <td width="6%">
    <div class="valuefriendbox">
    <br /><br />
		<font>12345</font>
        <br /><br /><font size="-1">follower</font>
	</div>
    </td>
    <td width="18%">
    <div class="valuefriendbox">
    <br /><br />
		<font>12345</font>
        <br /><br /><font size="-1">following</font>
	</div>
    </td>
    <td width="3%"></td>
  </tr>
</table>



<center><br> <b> Username ::</b> {{ user.username|mylimite:15 }} <br>
<br> <b> Email ::</b> {{ user.email }} <br>
 <br> <b> FirstName ::</b> {{ user.first_name }} <br>
 <br> <b> LastName ::</b> {{ user.last_name }} <br>
 <br> <b> Date Register ::</b> {{ user.date_joined}} <br>
 <br> <b> Last Login ::</b> {{ user.last_login}} <br>
 <br> <b> Total Bookmarks ::</b> {{ count }} <br>
 <br> <b> My Friends ::</b> {{ friend_set }} <br>
 <br> <b> My friends List ::</b> {{ friend_list }} <br>
 <br> <b> Follows me ::</b> {{ to_friend_set }} <br>
<br> <b> Follows me List ::</b> {{ follow_me_list }} <br>
 </center>
 
<form action="/profile/{{ user.username }}/" method="post" > {% csrf_token %}

	Profile Upload<br><input type="file" name="photo" id="photo" /><br><br>
	<input type="submit" name="button2" id="button2" value="save" />
</form>
 

{% endblock %}

{% block editprofile %}
<div class="editprofile">
		<p>Edit Your Profile</p>
</div>
{% endblock %}

</body>
</html>
